
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #07081A; 
}

nav{
    display: flex;
    min-height: 64px;
    background-color:  #07081A;
}

.nav_list{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
