
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: darkkhaki; 
}

.full_stak_conteiner{
    display: flex;
    flex-direction: column;
}

.nav_box{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav_conteiner{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 28px;
    background-color: aqua;
}



.nav_logo{
display: flex;
justify-content: flex-start;
}



ul{
    display: flex;
}


.ul_class{
    list-style: none;
    display: flex;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
